# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.env

# Distribution / Packaging
build/
dist/
*.egg-info/

# PyTorch
*.pth
*.pt

# Data
data/
*.csv
*.sql

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
